<!DOCTYPE html>
<html th:replace="layouts/masterLayout :: layout(~{::main})"
      xmlns:th="http://www.thymeleaf.org">

<body>
<main role="main">
    <div class="container mt-5">
        <div class="row">
            <div class="col">
                <div class="card">
                    <h3 class="card-header">Employee Form</h3>
                    <div class="card-body">
                        <form th:action="@{/process-employee}"
                              th:object="${employee}" method="post">
                            <div class="mb-3">
                                <label class="form-label">First Name</label>
                                <input type="text" th:field="*{firstName}"
                                       th:classappend="${#fields.hasErrors('firstName') } ? 'is-invalid'"
                                       class="form-control">
                                <small class="invalid-feedback" th:if="${#fields.hasErrors('firstName')}"
                                       th:errors="*{firstName}"></small>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Last Name</label>
                                <input type="text" th:field="*{lastName}"
                                       th:classappend="${#fields.hasErrors('lastName')} ? 'is-invalid'"
                                       class="form-control">
                                <small class="invalid-feedback"
                                       th:if="${#fields.hasErrors('lastName')}"
                                       th:errors="*{lastName}"></small>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Email</label>
                                <input type="text" th:field="*{email}"
                                       th:classappend="${#fields.hasErrors('email')} ? 'is-invalid'"
                                       class="form-control">
                                <small th:if="${#fields.hasErrors('email')}"
                                       class="invalid-feedback" th:errors="*{email}"></small>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Date Of Birth</label>
                                <input type="date" th:field="*{dateOfBirth}"
                                       th:classappend="${#fields.hasErrors('dateOfBirth')} ? 'is-invalid'"
                                       class="form-control">
                                <small th:if="${#fields.hasErrors('dateOfBirth')}"
                                       class="invalid-feedback" th:errors="*{dateOfBirth}"></small>
                            </div>
                            <input type="submit"
                                   class="btn btn-primary"
                                   value="Save Employee">
                        </form>
                    </div>
                </div>


            </div>
        </div>
    </div>
</main>
</body>
</html>